<!DOCTYPE html>
<html lang="en">
    <%-include("partials/head")%>
    <body>
        <%-include("partials/header")%>
        <main class="container">
            <div>
                <H1>Pagina de Contacto</H1>
            </div>        
        </main>
        <%-include("partials/footer")%>
        <!--script src="../js/template.js"></script-->
    </body>
</html>